version: "3.9"

services:
  backend:
    build: .
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fretes
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./fretes.sql:/docker-entrypoint-initdb.d/fretes.sql

volumes:
  postgres_data:
